*{
     margin: 0;
    padding: 0;
  background-color: #008080;
   
}

  
    
  
.container{
    width: 1000px;
    height: 1100px;
    
}
#row{
    
        width: 568px;
        height: 1164px;
    
}
.container{
    color: white;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  
  }
.navbar{
    display:inline;
   
    
    
}

.navbar ul li a{
    color: black;
    margin: 10px;
    justify-content: space-around;
    display: flex;
    text-decoration: none;
}
.navbar ul li a:hover{
   background-color: black;
   
  
   
    
}

.home{
    width: 100%;
    height: 60rem;
    position: relative;
    top: 77px;
    padding: 139px;
    padding-left: 70px;
    
}
.nameTitle h4 {
    color: white;
    font-family: fangsong;
    font-size: 40px;
    cursor: pointer;
    width: 328px;
    text-align: justify;
}
.p1{
    font-size: 22px;
}
.p2{
    font-size: 22px;
}
.p3{
    font-size: 22px;
}

    

.nameTitle h4:hover{
    color: black;
    font-family: fangsong;
    border-bottom: 2px solid black;
    width: 500px;
} 
.nameTitle{
    font-size: 20px;
    position: relative;
    bottom: 77px;
    text-align: justify;
}
.nameTitle p span{
    color: #FFFAF0;
}
.nameTitle p span:hover{
    color: black;
}
.Navtitle{
    font-size: 29px;
    font-family: sans-serif;
    cursor: pointer;
    color: white;
}
.Navtitle:hover{
    color: #1C3630;
}
.intro1{
    color: white;
}
.intro2{
    color: white;
}
.downloadbtn{
    background-color: black;
    color: white;
    width: 170px;
    height: 45px;
    border-radius: 35px;
    position: relative;
    top: 25px;
}
.downloadbtn:hover{
    background-color: white;
    color:black ;
    transition: 0.5s ease-in-out;
}
.downloadbtn a{
    text-decoration: none;
}
.card{
    border: 3px solid black;
}
.col{
    position: relative;
    top: 225px;
    left: 65px;
    width: 500px;
}
.Projectbtn{
    width: 145px;
    height: 35px;
    border-radius: 27px;
    position: relative;
    right: 10px;
    color: white;
    background-color: black;
}
.Projectbtn:hover{
    color: black;
    background-color: white;
}
.card-title:hover{
    color: black;
    cursor: pointer;
}
.card-title{
    color: white;
  
}
.row{
    position: relative;
    top: 138px;
    width: 1522px;
    margin: -5px;
    padding: 48px;
    height: 188px;
}
.text-center{
    background-color: black;
}
#copyright{
    color: white;
}
.text-center{
    background-color: #008080;
}
.namecopyright{
    cursor: pointer;
}
.namecopyright:hover{
    cursor: pointer;
    color: black;
    border-bottom: 1px solid white;
}
p{
    color: white;
}
.educationBtn{
    background-color: black;
    color: white;
    width: 210px;
    height: 45px;
    border-radius: 35px;
    margin: 10px;
}
.achievementsBtn{
    background-color: black;
    color: white;
    width: 170px;
    height: 45px;
    border-radius: 35px;
}
.educationBtn:hover{
    background-color: white;
    color:black ;
    transition: 0.5s ease-in-out;
    
}
.achievementsBtn:hover{
    background-color: white;
    color:black ;
    transition: 0.5s ease-in-out;
}
.EduDetail1{
    background-color: white;
}
.accordion-body{
    color: white;
    
}
strong:hover{
    color: black;
}
.year{
    color: black;
}
footer{
    height: 43px;
    position: relative;
   
    top: 700px;
}
.projectTitle{
    font-size: 46px;
    font-family: fangsong;
    color: white;
}
.projectTitle:hover{
    color: black;
   border-bottom: 2px solid black;
}

.projectTitle{
    position: relative;
    top: 141px;
    width: 360px;
    left: 57px;
    height: 66px;
}
.Achievements{
    width: 100%;
    height: 311px;
    position: relative;
    top: 77px;
    padding: 139px;
    padding-left: 70px;
}
.AchievementsTitle h4{
    color: white;
    font-family: fangsong;
    font-size: 40px;
    cursor: pointer;
    width: 180px;
    
} 
.AchievementsTitle h4:hover{
    color: black;
    font-family: fangsong;
    
}

#Skills{
    width: auto;
    position: relative;
    top: 77px;
    padding: 139px;
    padding-left: 70px;
}
.skillsTitle{
    position: relative;
    bottom: 80px;
}
.skillsTitle h4{
    color: white;
    font-family: fangsong;
    font-size: 40px;
    cursor: pointer;
    width: 180px;
}
.skillsTitle h4:hover{
    color: black;
    font-family: fangsong;
    width: 500px;
    border-bottom: 2px solid black
}
.skillsTitle{
    height: 45px;
    width: 108px;
}
.cardSkill1{
    width: 330px;
    border: 2px solid black;
}
#skillsBox{
    width: 100%;
    height: 800px;
    background-color: red;
}
.Skillscontainer{
    width: 1390px;
    height: 700px;
    border: 2px solid black;
}
 .row{
    position: relative;
    top: 146px;
    width: 1229px;
    margin: -5px;
    padding: 48px;
    height: 188px;
    left: -7px;
}

.card1{
    border: 2px solid black;
    margin: 10px;
    height: 200px;
}
.card2{
    border: 2px solid black;
    margin: 10px;
}
.card3{
    border: 2px solid black;
    margin: 10px;
}
.card4{
    border: 2px solid black;
    margin: 10px;
}
.card5{
    border: 2px solid black;
    margin: 10px;
}
.card6{
    border: 2px solid black;
    margin: 10px;
}
/* CSS for desktop devices */

 
  
  /* CSS for tablets */
 /* @media (max-width: 649px) {
    footer {
      position: fixed;
      
      right: 0;
      bottom: 0;
      width: 603px;
      left: 1px;
    }
  }*/
  @media only screen and (max-width: 768px) {
    
   *{
    background-color: white;
   }
   #footerbg{
    background-color: white;
   }
 
    html body{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    footer{
        width: 792px;
    }
    .nameTitle
    {
        width: 658px;
        height: 750px;
        text-align: justify;
    }
    .nameTitle h4 {
   
        font-size: 50px;
        color: #1C3630;
        
    }
    .nameTitle p span{
        color:#008080
    }
   
    .intro1{
        color: #1C3630;
    }
    .intro2{
        color: #1C3630;
    }
    .namecopyright{
        color: #1C3630;
    }
    .Navtitle{
       color: #1C3630;
    }
    
    .p1{
        font-size: 20px;
        color: #1C3630;
        
    }
    .p2{
        font-size: 20px;
        color: #1C3630;
    }
    .p3{
        font-size: 20px;
        color: #1C3630;
    }
    .educationBtn {
        width: 127px;
        font-size: 12px;
    }
    .achievementsBtn {
        width: 127px;
        font-size: 12px;
    }
    .downloadbtn{
        top: -366px;
    }
    .personaldetail{
        top: --304px;
    }
    .col-sm-4 {
            width: 260px;
            height: 430px;
            font-size: 6px;
    }
    

    .card-title {
        font-size: 19px;
    }
    .card-text {
        font-size: 11px;
        text-align: justify;
    }
    .Projectbtn{
        left: 25px;
    }
     #rowSkills {
        width: 100px;
        height: 1080px;
        left: -3px;
        
        
    }
    .emaillabel{
        position: relative;
        top: -408px;
        
    }
    .contactlabel{
        position: relative;
        top: -408px;
    }
    .row #rowSkills{
        width: 486px;
    }
    .accordion-body{
        font-size: 7px;
      }
      .accordion-body-button{
        font-size: 10px;
      }
      #Accordion{
        font-size: 11px;
      }
      #EducationaTitle{
        font-size: 20px;
      }
     #Btnid{
        position: relative;
        top: -402px;
        left: 4px;
        height: 27px;
        width: 77px;
        border-radius: 46px;
        font-size: 10px
     }
     #accordionExample{
        width: 250px;
     }
     .AchievementsTitle h4{
        font-size: 25px;
     }
     #Achievesid{
        font-size: 20px;
     }
     #BtnAchieve{
        height: 27px;
        width: 77px;
        border-radius: 46px;
        font-size: 10px
     }
     .projectTitle{
        color: #1C3630;
     }


  }
  @media only screen and (max-width: 991px) {
    
   
 
    html body{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    footer{
        width: 792px;
    }
    .nameTitle
    {
        width: 658px;
        height: 750px;
        text-align: justify;
    }
    .nameTitle h4 {
   
        font-size: 50px;
        
    }
    .p1{
        font-size: 20px;
    }
    .p2{
        font-size: 20px;
    }
    .p3{
        font-size: 20px;
    }
    .educationBtn {
        width: 127px;
        font-size: 12px;
    }
    .achievementsBtn {
        width: 127px;
        font-size: 12px;
    }
    .downloadbtn{
        top: -366px;
    }
    .personaldetail{
        top: --304px;
    }
    .col-sm-4 {
            width: 260px;
            height: 430px;
            font-size: 6px;
    }
    

    .card-title {
        font-size: 19px;
        color: #1C3630;
    }
    .accordion-body{
        color: #1C3630;
        font-size: 11px;
    }
    #Achievesid{
        font-size: 15px;
    }
    .card-text {
        font-size: 11px;
        text-align: justify;
        color: #1C3630;
    }
    .Projectbtn{
        left: 25px;
    }
     #rowSkills {
        width: 100px;
        height: 1080px;
        left: -3px;
        
        
    }
    .emaillabel{
        position: relative;
        top: -408px;
        
    }
    .contactlabel{
        position: relative;
        top: -408px;
    }
    .row #rowSkills{
        width: 486px;
    }

  }
  @media only screen and (max-width: 300px) {
   /**{
    background-color: rgb(84, 105, 105);
   }*/
   .home{
    width: 19rem;
    
}
.nameTitle{
    width: 13rem;
    font-size: 14px;
    left: -23px;
    height: 36rem;
    text-align: justify;
}
.nameTitle h4{
    width: 12rem;
    font-size: 28px;
}
.downloadbtn{
    
    width: 6rem;
    height: 2rem;
    
}
.emaillabel{
    width: 12rem;
    font-size: 9px;
    left: -13px;
}
.contactlabel{
    width: 10rem;
    font-size: 9px;
    left: -13px;
}
.Navtitle{
    font-size: 20px;
}
footer{
    width: 19rem;
}
.p1{
    width: 13rem;
    font-size: 8px;
        padding: 7px;
}
.p2{
    width: 13rem;
    font-size: 8px;
        padding: 9px;
}
.p3{
    width: 13rem;
    font-size: 8px;
        padding: 7px;
}
.educationBtn{
    width: 4rem;
    height: 2rem;
    font-size: 6px;
}
.achievementsBtn{
    width: 4rem;
    height: 2rem;
    font-size: 6px;
}
.container{
    width: 19rem;
}
.projectTitle{
    width: 10rem;
    font-size: 29px;
    height: 3rem;
}
.row{
    width: 16rem;
}
.card-title{
    font-size: 10px;
}
.card-body{
    height: 18rem;
}
.card-text{
    
    height: 11rem;
    font-size: 8px;
    padding: -3px;
    text-align: justify;
}
.Projectbtn{
    width: 4rem;
    height: 1rem;
    font-size: 5px;
    top: 9px;
    left: 15px;
}
.card{
   width: 11rem; 
   left: -12px;
}
.col-sm-4 {
    width: 260px;
    height: 348px;
    font-size: 6px;
}

.row #rowSkills{
    width: 13rem;
}
.skillsTitle h4{
    font-size: 28px;
}
.container #ContainerSkills{
    width: 15rem;
    
}
.row #rowSkills{
    
    width: 13rem;
    height: 60rem;
}
#card1{
    width: 8rem;
    height: 6rem;
    position: relative;
    left: -43px;
}
#pythonimg{
    width: 2rem;
}
#javaimg{
    width: 2rem;
}
#Cimg{
    width: 2rem;
}
#htmlimg{
    width: 2rem;
}
#cssimg{
    width: 2rem;
}
#javascriptimg{
    width: 2rem;
}
#reactimg{
    width: 2rem;
}
#mysqlimg{
    width: 2rem;
}
#djangoimg{
    width: 2rem;
}
#nodejsimg{
    width: 2rem;
}
#expressjsimg{
    width: 2rem;
}
#mongoDBimg{
    width: 2rem;
}
#card1 a h5{
    font-size: 14px;
}
#rowSkills .col-sm-4 {
    flex-basis: 100%;
    margin-bottom: 1rem;
  }
  .langs{
    height: 2rem;
    width: 7rem;
    margin: 3px
  }
  footer {
    font-size: 12px;
    padding: 0.5rem;
    position: relative;
    top: 1026px;
    width: 20rem;
    left: -7px;
  }
  .accordion-body{
    font-size: 7px;
  }
  .accordion-body-button{
    font-size: 10px;
  }
  #Accordion{
    font-size: 11px;
  }
  #EducationaTitle{
    font-size: 20px;
  }
 #Btnid{
    position: relative;
    top: -375px;
    left: -22px;
    height: 27px;
    width: 77px;
    border-radius: 46px;
    font-size: 10px
 }
 #accordionExample{
    width: 205px;
 }
 .AchievementsTitle h4{
    font-size: 25px;
 }
 #Achievesid{
    font-size: 13px;
 }
 #BtnAchieve{
    height: 27px;
    width: 77px;
    border-radius: 46px;
    font-size: 10px
 }

    }

    @media (max-width: 650px) {
        .nameTitle {
          font-size: 24px;
        }
      
        .intro1,
        .intro2 {
          font-size: 16px;
        }
      
        .downloadbtn {
          font-size: 14px;
          padding: 0.3rem 0.8rem;
        }
      
        .emaillabel,
        .contactlabel {
          font-size: 14px;
        }
        #card1 {
            width: 50%;
          }
          #rowSkills .col-sm-4 {
            flex-basis: 60%;
            margin-bottom: 1rem;
          }
          #rowSkills .col-sm-4 {
            flex-basis: 100%;
            margin-bottom: 1rem;
          }
          .langs{
            height: 2rem;
            width: 7rem;
            margin: 3px
          }
          footer {
            font-size: 12px;
            padding: -0.5rem;
            position: relative;
            top: 1026px;
            width: 24rem;
            left: 9px;
          }
          
      }
      @media only screen and (max-width: 768px) {
        .nameTitle{
            text-align: justify;
        }
      }

   

#skillsIcons{
    position: relative;
    top: 180px;
    width: 1345px;
    margin: -5px;
    padding: 48px;
    height: 188px;
    left: 23px;
}
#htmlIcon {
    font-weight: 400;
    font-size: 116px;
    height: 114px;
    width: 100px;;
}
#rowSkills {
    width: 1144px;
    height: 544px;
    position: relative;
    top: 3px;
    left: 1px;
    margin-top: 20px;
    
}
#card1{
  
    height: 121px;
    width: 152px;
    margin: 20px;
}
#javaimg{
    width: 108px;
    height: 76px;
}
.langs{
    text-align: center;
}
#pythonimg{
    width: 108px;
    height: 76px;
}
#Cimg{
    width: 108px;
    height: 76px;
}
#htmlimg{
    width: 108px;
    height: 76px;
}
#cssimg{
    width: 108px;
    height: 76px;
}
#javascriptimg{
    width: 108px;
    height: 76px;
}
#reactimg{
    width: 108px;
    height: 76px;
}
#mysqlimg{
    width: 115px;
    height: 80px;
   
}
.langs:hover{
    color: white;
}
#card1{
    cursor: pointer;
}
#card1:hover{
    border-bottom: 2px solid white;
}
#mysqlimg:hover{
    width: 130px;
    height: 90px;
    background-color: white;
   
}
#reactimg:hover{
    width: 130px;
    height: 90px;
    background-color: white;
   
}
#javascriptimg:hover{
    width: 130px;
    height: 90px;
    background-color: white;
   
}
#cssimg:hover{
    width: 130px;
    height: 90px;
    background-color: white;
   
}
#htmlimg:hover{
    width: 130px;
    height: 90px;
    background-color: white;
   
}
#Cimg:hover{
    width: 130px;
    height: 90px;
    background-color: white;
}
#pythonimg:hover{
    width: 130px;
    height: 90px;
    background-color: white;
   
}
#javaimg:hover{
    width: 130px;
    height: 90px;
    background-color: white;
   
}
#djangoimg{
    width: 108px;
    height: 76px;
}
#djangoimg:hover{
    width: 130px;
    height: 90px;
    background-color: white;
}
#nodejsimg{
    width: 138px;
    height: 76px;
}
#nodejsimg:hover{
    width: 150px;
    height: 90px;
    background-color: white;
}
#expressjsimg{
    width: 138px;
    height: 76px;
}
#expressjsimg:hover{
    width: 150px;
    height: 90px;
    background-color: white;
}
#mongoDBimg{
    width: 138px;
    height: 76px;
}
#mongoDBimg:hover{
    width: 150px;
    height: 90px;
    background-color: white;
}
.personaldetail{
    position: relative;
    top: 88px;
}
a{
    text-decoration: none;
    color: black;
}
.emailLink:hover{
    
    color: white;
    border-bottom: 2px solid black;
}
.phno:hover{
    color: white;
    border-bottom: 2px solid black;
}
.phno{
    color: black;
    
}
.backbtn{
    width: 100px;
    height: 39px;
    border-radius: 36px;
    position: relative;
    top: 30px;
}
.backbtn{
   color: white;
   background-color: black;
}
.backbtn:hover{
    color: black;
    background-color: white;
 }
  #ContainerSkills{
    width: 75rem;
    height: 50rem;
   
 }